* {
    box-shadow: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    background-color: rgba(49,60,63);
}
body {
    font-family: "public sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}
.grid-conteiner > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;   
}
.header {
    grid-area: header;
    background-color:rgba(49,60,63);
    color: white;
#columnas {
    column-count: 5;
    column-gap: 0px;
    column-rule: none gba(49,60,63);
    list-style: none;
}
 }

.navbar {
    grid-area: navbar;
    background-color: rgba(49,60,63);
    color:white;
    border: auto;
    margin: auto;
    padding: auto;


}
.sidebar {
    grid-area: sidebar;
    background-color: rgba(49,60,63);
    color: white;
    
    border: 100;
    margin: auto;
    margin: auto;

#columnas2{
        column-count: 4;
        column-gap: 0px;
        list-style: none;
        }
    
}
    

.main {
    grid-area: main;
    background-color: rgba(49,60,63);   
    color: white;
#columnas3{
    column-count: 5;
    column-gap: 0px;
    list-style: none;
} 
#columnas4{
    column-count: 2;
    column-gap: 0px;
    list-style: none;
   }
#columnas5{
    column-count: 2;
    column-gap: 0px;
    list-style: none;
 }

 } 

.grid-conteiner {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "sidebar"
    
}
 @media (min-width: 600px) {
    .grid-conteiner {
        grid-template: 
        "header  header" 100px
        "navbar  navbar" 50px
        "sidebar main" auto
 
    }
 }
  @media (min-width: 900px) {
    .grid-conteiner {
        grid-template: 
        "header  header header" 60px
        "navbar  main sidebar" 100px/ 200px 500PX;
    } 
 }